<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Spotify Journey Jams</title>
    <link href="./output.css" rel="stylesheet" />
  </head>

  <body class="flex h-screen items-center">
    <div class="m-auto bg-blue-500 max-w-2xl mx-auto p-8">
      <h1 class="">Map</h1>
      <form
        id="inputs"
        class="bg-red-400 p-5"
        method="POST"
        action="/geocoding"
        onsubmit="return hasFormChanged();"
      >
        <input
          type="text"
          id="startingPoint"
          name="startingPoint"
          placeholder="Where are you?"
          class="bg-white text-gray-800 w-full mb-4 p-2"
          value="<%= startingPointData %>"
        />
        <input
          type="text"
          id="destination"
          name="destination"
          placeholder="Where are you going?"
          required
          class="bg-white text-gray-800 w-full mb-4 p-2"
          value="<%= destinationData %>"
        />
        <input
          type="submit"
          value="Submit"
          class="bg-blue-500 text-white p-2 cursor-pointer"
        />
      </form>

      <!-- Display geocode and distance data if available -->
      <% if (duration && distance) { %>
      <div class="m-4">
        <h2 class="font-bold" id="duration">
          <% const hours = Math.floor(duration / 3600); const minutes =
          Math.floor((duration % 3600) / 60); if (hours < 1) { %><%= minutes %>
          minutes<% } else { %><%= hours %> hours and <%= minutes %> minutes<% }
          %>
        </h2>
        <h3 class="font-bold" id="distance">
          <%= (distance * 0.000621371).toFixed(1) %> miles
        </h3>
        <a
          href="https://google.com"
          class="rounded-full bg-green-600 text-white"
          >Music</a
        >
      </div>
      <% } %>
    </div>
  </body>
  <script>
    function hasFormChanged() {
      const startingPointInput = document.getElementById("startingPoint");
      const destinationInput = document.getElementById("destination");
      const startingPointDefaultValue = "<%= startingPointData %>";
      const destinationDefaultValue = "<%= destinationData %>";

      return (
        startingPointInput.value !== startingPointDefaultValue ||
        destinationInput.value !== destinationDefaultValue
      );
    }
  </script>
</html>
